@font-face {
	font-family: 'Syne';
	src: url('/static/fonts/Syne/Syne-Regular.ttf');
	src: url('/static/fonts/Syne/Syne-Bold.ttf');
	src: url('/static/fonts/Syne/Syne-SemiBold.ttf');
	src: url('/static/fonts/Syne/Syne-Light.ttf');
}
@tailwind base;

p,h1,h3,h2,a {
  @apply font-josefin
}
@tailwind components;
.step-item {
  @apply relative flex flex-col justify-center items-center w-full;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-white border-gray-400 border-2 rounded-full font-semibold text-gray-500 ;
}
.active .step {
  @apply bg-white border-slate-950 border-2 text-slate-700 ;
}
.complete .step {
  @apply bg-white border-slate-950 border-2 text-slate-800;
}
.complete p {
  @apply text-slate-900 text-sm pt-1;
}
.active p {
  @apply text-slate-900 text-sm pt-1;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-slate-500
}
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background: white
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



