@font-face {
	font-family: 'Syne';
	src: url('/static/fonts/Syne/Syne-Regular.ttf');
	src: url('/static/fonts/Syne/Syne-Bold.ttf');
	src: url('/static/fonts/Syne/Syne-SemiBold.ttf');
	src: url('/static/fonts/Syne/Syne-Light.ttf');
}
@tailwind base;

p,h1,h3,h2,a {
  @apply font-josefin
}
@tailwind components;

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background: #fff
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



